*{
    margin: 0;
    padding: 0;
}

.appreciate{
    position: relative;
}
.body{
    display: flex;
}

.image{
    width: 40%;
    /* height: 100vh;
    background-image: url(bg.jpg); */
}

#image{
    width: 100%;
}
.word{
    width: 60%;
}